@charset "ISO-8859-1";
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
}

.navabrs {
  width: 100%;
  padding: 0px;
}

.logo {
  color: white;
  padding: 14px 16px;
  float: left;
}

.links {
  background-color: #333;
  width: 100%;
}

.links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.links ul li {
  float: right;
}

.links ul li:hover {
  background-color: rgb(77, 77, 77);
}

.links ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer {
  height: 10rem;
  width: 100%;
  background-color: #333;
}

.footer h6 {
  color: white;
  text-align: center;
  padding-top: 8rem;
}

.main-heading {
  text-align: center;
  margin-top: 30px;
  padding: 10px;
}

.sidebar {
  margin-top: 105px;
  width: 20%;
  float: left;
  margin-left: -100px;
  height: 100px;
  background-color: white;
}
.section-topics {
  padding: 10px;
  box-shadow: 5px 1px 20px 1px rgba(0, 0, 0, 0.1);
}
.section-title {
  color:#01937C;
}
.section-topics ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-top: 1px solid #e0e0e0;
}

.section-topics ul li a {
  display: block;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #e0e0e0;
  text-decoration: none;
  color: gray;
}

.main-content {
  width: 90%;
}

.container {
  display: flex;
     margin-left: 150px !important;
}

.main-content-container {
  margin-left: 50px;
  padding: 10px;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.2);
}

.mysql-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.video1 {
  padding: 30px;
}
.video2 {
  padding: 30px;
}
.video3 {
  padding: 30px;
}
.main-content-container_prep{
  padding: 10px;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 100px;
    width: 1000px;
    margin-left: 374px
}