@charset "ISO-8859-1";
html {
  scroll-behavior: smooth;
}

* {
margin: 0px;
padding: 0px;
}

body{
    width: 100%;
    height: 100%;
}

.navabrs{
    width:100%;
    padding: 0px; 
}

.logo{
    color: white;
    padding: 14px 16px;
    float: left;
}

.links{
    background-color: #333;
    width: 100%;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  .links ul  li {
    float: right;
  }

  .links ul  li:hover{
    background-color:rgb(77, 77, 77);
}
  
  .links ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .footer{
    height: 10rem;
    width: 100%;
    background-color: #333;
    
}

.resume{
	width: 100%;
	height: max-content;
	background-image: linear-gradient(to bottom, #dad8e9, #dcdcec, #dee0ef, #e0e4f2, #e2e8f5, #dfe7f6, #dde5f6, #dae4f7, #d2ddf6, #cbd7f5, #c4d0f3, #bec9f2);
}

#res_cont{
	width:90%;
	height:max-content;
	margin-left:auto;
	margin-right:auto;
	background-color:#F7F7F7;
}

#IMG1 img{
	display:block;
	margin:auto;
	width:15rem;
	height:15rem;	
}

#IMG2 img{
	display:block;
	margin:auto;
	width:15rem;
	height:15rem;	
}

#IMG3 img{
	display:block;
	margin:auto;
	width:15rem;
	height:15rem;	
}

#IMG4 img{
	display:block;
	margin:auto;
	width:15rem;
	height:15rem;	
}

.headR{
	padding-top: 2rem;
	padding-bottom: 4rem;
	width:100%;
	text-align:center;
}

#res_cont p{
	width:100%;
}

.cont img{
	display:block;
	margin:auto;
	width:30rem;
}

.footer h6{
  color: white;
  text-align: center;
  padding-top: 8rem;
}